// Mixins Here

.flexcol{
    display: flex;
    flex-direction: column;
}

.box{
    border: 0.2rem solid @nav-border;
    border-radius: 1rem;
    background-color: @nav-bg;
}

.fixheader{
    position: fixed;
    width:100%;
    max-width:800px;
    margin: 0 auto;
}